<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
    <div class="container">
        <div class="upper">
            <div class="title">
                <span><i style="color:  #1ca4f4;margin-right:10px;font-size: 1.2rem;" class="fab fa-twitter"></i>
                </span>
                <span>Home</span>
            </div>
            <form method="POST" action="/update" class='tweet-area'>{% csrf_token %}
                 <div class="twitter">
                     <img src="{%static 'img/Dummy.jpg' %}">
                     <input placeholder="What are you doing?" value="{{tweet.tweet_text}}" name='tweet_text'>
                 </div>
                 <div>
                    <input type="hidden" name='id' value={{tweet.id}}>
                     <input type="submit" value="Update" id='tweet'>
                 </div>
                </form>
        </div>
      
  
    
</body>
</html>
